<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ITLaptops.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ITLaptops.Properties.Settings>
            <setting name="TotalUncheckedLaptops" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalBrokenLaptops" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalWorkingLaptops" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalLaptops" serializeAs="String">
                <value>0</value>
            </setting>
        </ITLaptops.Properties.Settings>
    </userSettings>
</configuration>